body {
	padding: 0;
	margin: 0;
}

html, body {
	width: 100%;
	height: 100%;
	font-family:sans-serif;
}

#detail {
	height:1%;overflow:hidden;
}

#detail .item {
	padding:5px;
	border:1px dashed #eee;
	margin-bottom:10px;
}

#wrap-map {
	position:relative;
}

#map {
	margin: 0 auto;
	height: 500px;
	width: 100%;
}

div.loading {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #bfbfbfad url(/assets/img/loader.gif) no-repeat center center;
	z-index:9999;
}